
.echo {
    border: 5px solid #D09B2C;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    box-sizing: border-box;
}

p {
    padding: 5px;
}

@media screen and (min-width: 768px) {
    .nav-collapse ul {
        flex-direction: row;
        align-items: flex-end;
    }
    
    .nav-collapse li {
        width: auto;
    }
    
    .nav-collapse a {
        padding: 1.02em 2em;
        text-align: center;
        border-top: 0;
        margin: 0;
        display: none;
    }
    
    .nav-collapse ul ul a {
        display: none;
    }

    .nav-collapse.closed {
        max-height: none;
    }

    .nav-toggle {
        display: none;
    }

    main {
        display: grid;
        grid-column: 1/4;
        grid-template-columns: 85% 15%;
        margin: 0;
        box-sizing: border-box;
    }
    
    .nav-collapse ul {
        flex-direction: column;
    }
    
    .left {
        margin: 20px;
        width: 100%;
    }
    
    .right {
        display: block;
        grid-column: 2/3;
        background-color: #361D2E;
        margin: 0;
      }
    
      footer {
        display: none;
      }
    
      .footer {
        background-color: #361D2E;
        display: flex;
        padding: 20px;
        color:#F2EBD1;
        margin: 0;
      }
    
      .right, .right a {
        background-color: #361D2E;
        padding: 10px;
        color:#F2EBD1;
        text-decoration: none;
      }
    
      /*.featured-art {
        width: 70%;
      }*/
      
      .side-nav {
        display: flex;
        flex-direction: column;
      }
    
      .right div {
        margin: 0 0 40px 20px;
      }
      
      .title {
        font-size: 40px;
        justify-self: center;
      }
    
      header {
        display: grid;
        grid-template-columns: 200px 1fr 70px;
      }

      main {
        display:grid;
        grid-template-columns: 85% 15%;
        grid-template-rows: 100px 460px 460px 460px 460px;
      }

      .right {
          grid-row: 1/span 8;
          grid-column: 2;  
      }

      .title {
          grid-row-start: 1;
      }

      .echoes {
          grid-column-start: 1;
          grid-row: span 2;
          width: 75%;
          justify-self: center;
      }

      h1 {
          grid-row: 1;
          grid-column: 1;
      }
      
      footer {
          display: none;
      }
    
    .footer {
        background-color: #361D2E;
        display: flex;
        padding: 20px;
        color:#F2EBD1;
        margin: 0;
    }

    h2 {
      justify-self: center;
      font-size: 40px;
    }

    .right h2 {
      font-size: 30px;
    }
}